{:coffee-table/listener #profile {:dev {:coffee-table.listener/host "localhost:3000"
                                        :coffee-table.listener/port 3000}
                                  :prod {:coffee-table.listener/host "coffee.robot-disco.net"
                                         :coffee-table.listener/port 1240}}
 :coffee-table/database {:coffee-table.database/spec
                         {:dbtype "postgresql"
                          :host #profile {:default "postgres"
                                          :dev "localhost"
                                          :prod #env "DATABASE_HOST"}
                          :port 5432
                          :dbname "coffeetable"
                          :user #profile {:default "coffeetable"
                                          :prod #env "DATABASE_USER"}
                          :password #profile {:default "coffeetable"
                                              :prod #env "DATABASE_PASS"}
                          :ssl false}}
 :coffee-table/selmer {:coffee-table.selmer/template-caching? #profile {:dev false
                                                                        :test false
                                                                        :prod true}}
 :coffee-table/migration {:store :database
                          :migration-dir "migrations"
                          :migration-table-name "migratus_migrations"
                          :db #ref [:coffee-table/database :coffee-table.database/spec]}
 :ig/system
 {:coffee-table/listener #merge [#ref [:coffee-table/listener]
                                 {:coffee-table/database #ig/ref :coffee-table/database}]
  :coffee-table/database #merge [#ref [:coffee-table/database]
                                 {:coffee-table.database/migration #ref [:coffee-table/migration]}]
  :coffee-table/selmer nil}}
