{:database {:spec {:dbtype "postgresql"
                   :host #profile {:default "postgres"
                                   :dev "localhost"}
                   :port 5432
                   :dbname "coffeetable"
                   :user "coffeetable"
                   :password "coffeetable"
                   :ssl false}}
 :migratus {:store :database
            :migration-dir "migrations"
            :migration-table-name "migratus_migrations"
            :db ^:ref [:database :spec]}
 :webserver {:host "localhost:3000"
             :port 3000}}
