{% extends "_wrapper.html" %}

{% block main %}

<h1 class="ui header">
  Coffee Table
  <div class="sub header">Rate your café visits.</div>
</h1>

<section>
  <table class="ui celled table">
    <thead>
      <tr>
	<th>Id</th>
	<th>Date visited</th>
	<th>Café Name</th>
	<th>Beverage Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
	<td><a href="{{ entry.links.self }}">{{ entry.data.id }}</a></td>
	<td>{{ entry.data.visit_date }}</td>
	<td>{{ entry.data.cafe_name }}</td>
	<td><div class="ui star rating" data-rating="{{ entry.data.beverage_rating }}" data-max-rating="5"></div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <h4>Add entry</h4>

  <form class="ui form" method="POST">
    <div class="required field">
      <label>Café Name</label>
      <input required="true" type="text" name="cafe_name"/>
    </div>
    <div class="required field">
      <label>Date Visited</label>
      <input required=true type="date" name="visit_date"/>
    </div>
    <div class="field">
      <label>Coffee Machine</label>
      <input type="text" name="machine"/>
    </div>
    <div class="field">
      <label>Coffee Grinder</label>
      <input type="text" name="grinder"/>
    </div>
    <div class="field">
      <label>Coffee Roast</label>
      <input type="text" name="roast" />
    </div>
    <div class="field">
      <label>Address 1</label>
      <input type="text" name="address1">
    </div>
    <div class="field">
      <label>Address 2</label>
      <input type="text" name="address2">
    </div>
    <div class="field">
      <label>City</label>
      <input type="text" name="city">
    </div>
    <div class="field">
      <label>Region (State/Province/etc...)</label>
      <input type="text" name="region">
    </div>
    <div class="field">
      <label>Country</label>
      <input type="text" name="country">
    </div>
    <div class="required field">
      <label>Beverage Ordered</label>
      <input required=true type="text" name="beverage_ordered">
    </div>
    <div class="required inline fields">
      <label>Beverage Rating</label>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>1</label>
	  <input required="true" class="hidden" type="radio" name="beverage_rating" value=1 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>2</label>
	  <input required="true" class="hidden" type="radio" name="beverage_rating" value=2 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>3</label>
	  <input required="true" class="hidden" type="radio" name="beverage_rating" value=3 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>4</label>
	  <input required="true" class="hidden" type="radio" name="beverage_rating" value=4 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>5</label>
	  <input required="true" class="hidden" type="radio" name="beverage_rating" value=5 />
	</div>
      </div>
    </div>
    <div class="field">
      <label>Beverage Notes</label>
      <textarea name="beverage_notes"></textarea>
    </div>
    <div class="inline fields">
      <label>Service Rating</label>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>1</label>
	  <input class="hidden" type="radio" name="service_rating" value=1 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>2</label>
	  <input class="hidden" type="radio" name="service_rating" value=2 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>3</label>
	  <input class="hidden" type="radio" name="service_rating" value=3 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>4</label>
	  <input class="hidden" type="radio" name="service_rating" value=4 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>5</label>
	  <input class="hidden" type="radio" name="service_rating" value=5 />
	</div>
      </div>
    </div>
    <div class="field">
      <label>Service Notes</label>
      <textarea name="service_notes"></textarea>
    </div>
    <div class="inline fields">
      <label>Ambience Rating</label>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>1</label>
	  <input class="hidden" type="radio" name="ambience_rating" value=1 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>2</label>
	  <input class="hidden" type="radio" name="ambience_rating" value=2 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>3</label>
	  <input class="hidden" type="radio" name="ambience_rating" value=3 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>4</label>
	  <input class="hidden" type="radio" name="ambience_rating" value=4 />
	</div>
      </div>
      <div class="field">
	<div class="ui radio checkbox">
	  <label>5</label>
	  <input class="hidden" type="radio" name="ambience_rating" value=5 />
	</div>
      </div>
    </div>
    <div class="field">
      <label>Ambience Notes</label>
      <textarea name="ambience_notes"></textarea>
    </div>
    <div>
      <label>Other Notes</label>
      <textarea name="other_notes"></textarea>
    </div>
    <button class="ui button" role="button" type="submit">Add café visit"</button>
  </form>
</section>

<script type="text/javascript">
 $(document).ready(function() {
     $(".ui.rating").rating({
	 "interactive": false
     });
     $( ".ui.checkbox" ).checkbox();
 });
</script>

{% endblock %}
